<% @new_courses.each do |course| %>
	<div class="col-md-3 top_brand_left-1">
		<div class="hover14 column">
			<div class="agile_top_brand_left_grid">
				<div class="agile_top_brand_left_grid1">
					<figure>
						<div class="snipcart-item block">
							<div class="snipcart-thumb">
								<%= link_to course_path(course) do %>
									<%= image_tag ("course.png") %>
								<% end %>	
								<h4><%= course.name %></h4>
							</div>
							<div class="snipcart-details top_brand_home_details">
								<% if !user_signed_in? %>
									<%= link_to "Đăng ký", new_user_session_path, class: "button-register" %>
								<% elsif this_user_course = current_user.user_courses.find_by(course_id: course.id) %>
									<% if this_user_course.waiting? %>
										<input type="submit" name="submit" value="Chờ phê duyệt" class="button">
									<% elsif this_user_course.registered? %>
										<input type="submit" name="submit" value="Đã đăng ký" class="button">
									<% else %>
										<input type="submit" name="submit" value="Đã bị hủy" class="button">
									<% end %>
								<% else %>
									<%= link_to "#", remote: true, class: "button-register",
							      data: {
							        toggle: "modal",
							        url: new_user_course_path,
							        course_id: course.id,
							        user_id: current_user.id,
							        list: "new",
							        target: "#modal-register-course"
							      }, id: "register-course" do %>
							      Đăng ký
							    <% end %>
							   <% end %> 
							</div>
						</div>
					</figure>
				</div>
			</div>
		</div>
	</div>
<% end %>