<div class="register">
  <div class="container">
    <h2>Cập nhật thông tin người dùng</h2>
    <div class="login-form-grids">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :avatar, "Ảnh đại diện" %>
          <div>
            <% if current_user.avatar.url.present? %>
              <%= image_tag current_user.avatar.url, class: "avatar-edit" %>
            <% else %>
              <%= image_tag "avatar-default.png", class: "avatar-edit" %>
            <% end %>
          </div>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
        </div>
        <div class="form-group">
          <%= f.label :name, "Tên" %>
          <%= f.text_field :name, autofocus: true, class: "field" %>
        </div>

        <div class="form-group">
          <%= f.label :password %> (Có thể bỏ qua)
          <%= f.password_field :password, class: "field" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "field" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password, "Nhập mật khẩu hiện tại để xác thực" %>
          <%= f.password_field :current_password, class: "field" %>
        </div>

        <div class="right-w3l">
          <div class="actions">
            <%= f.submit "Lưu lại" %>
          </div><br>
        </div>

        <%= link_to "Reset", :back %><br>
        <%= link_to "Trang chủ", root_path %>
      <% end %>
    </div>
  </div>
</div>
