<%= form_for [:admin, @chapter, @question], remote: true do |f| %>
	<div class="form-group">
		<%= f.hidden_field :chapter_id, value: @chapter.id %>
    <%= f.label :chapter_id, "Thuộc chương" %>
    <%= f.select :chapter_id, options_for_select(@chapter_options, @chapter.id), {}, class: "form-control select-chapter" %>
  </div>
	<div class="form-group">
    <%= f.label :content, "Nội dung câu hỏi" %>
    <%= f.text_field :content, class: "form-control" %>
  </div>
<br>
  <h4>Các lựa chọn:</h4><br>

  <div id="choices">
    <%= f.fields_for :choices do |choice| %>
      <%= render "choice_fields", f: choice %>
    <% end %>
    <strong>
      <%= link_to_add_association "Thêm mới", f, :choices %>
    </strong>
  </div>

  <center><%= f.submit "Tạo mới", class: "btn btn-primary mb-3" %>
<% end %>