<% provide :title, @exam_structure.name %>

<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><%= link_to "Trang chủ", root_path %></li>
			<li><%= @course.unit.category.name %></li>
			<li><%= link_to @course.unit.name, unit_path(@course.unit) %></li>
			<li><%= link_to @course.name, course_path(@course) %></li>
			<li class="active"><%= @exam_structure.name %></li>
		</ol>
	</div>
</div>

<div class="products">
	<div class="container">
		<div class="col-md-4 products-left">
			<div class="categories">
				<h2>Danh sách bài học</h2>
				<ul class="cate">
					<% @course.chapters.each do |chapter| %>
						<li>
							<i class="fa fa-arrow-right" aria-hidden="	true"></i>
							<%= chapter.name %>
						</li>
						<ul>
							<% chapter.lessons.each do |lesson| %>
								<li>
									<%= link_to course_lesson_path(@course, lesson) do %>
										<i class="fa fa-arrow-right" aria-hidden="	true"></i>
										<%= lesson.name %></a>
									<% end %>
								</li>
							<% end %>
						</ul>
					<% end %>
					<% @course.exam_structures.each do |exam_structure| %>
						<li>
							<%= link_to course_exam_structure_path(@course, exam_structure) do %>
								<i class="fa fa-arrow-right" aria-hidden="true"></i>
								<%= exam_structure.name %></a>
							<% end %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>

		<div class="col-md-8 products-right">
			<div class="typo-agile">
				<h2 class="w3ls_head"><%= @exam_structure.name %></h2>
				<div class="w3agile_description">
					<h4>Số câu hỏi: <%= @exam_structure.total_questions %> câu</h4>
					<h4>Thời gian làm bài: <%= @exam_structure.time/60 %> phút</h4>
				</div>
				<div>
					<% if current_user.exams_by_exam_structure(@exam_structure.id).present? %>
						<h3>Các lần làm bài:</h3><br>
						<ul>
							<% current_user.exams_by_exam_structure(@exam_structure.id).each_with_index do |exam, index| %>
								<% unless exam.score.nil? %>
									<li>
										Lần <%= index+1 %>: <%= exam.score %>/100 điểm
										<%= link_to "Xem lại", user_exam_path(exam) %>
									</li>
								<% end %>
							<% end %>
						</ul>
					<% end %>
				</div>
			</div>
			<%= form_for (UserExam.new) do |f| %>
				<div class="form-group">
					<%= f.hidden_field :exam_structure_id, value: @exam_structure.id %>
					<%= f.hidden_field :user_id, value: current_user.id %>
			  </div>
			  <center><%= f.submit "Làm bài", class: "btn btn-primary mb-3" %>
			<% end %>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>