<tbody>
	<% @categories.each do |category| %>
		<tr>
			<td>
				<h3 id="h3.-bootstrap-heading"><%= category.name %>
					<a class="anchorjs-link" href="#h3.-bootstrap-heading"><span class="anchorjs-icon"></span></a>
				</h3>
			</td>
			<td></td>
			<td class="type-info">
				<%= link_to "#", remote: true,
					data: {
						toggle: "modal",
						url: new_admin_category_unit_path(category),
						target: "#modal-create-unit",
					}, id: "new-unit" do %>
						Thêm unit
				<% end %>| 
				<%= link_to "#", remote: true,
					data: {
						toggle: "modal",
						url: edit_admin_category_path(category),
						target: "#modal-edit-category"
					}, id: "edit-category" do %>
					Sửa
				<% end %>| 
				<%= link_to admin_category_path(category), method: :delete, remote: true, data: {confirm: "Xóa?"} do %>
					Xóa
				<% end %>
			</td>
		</tr>
		<% category.units.each do |unit| %>
			<tr>
				<td></td>
				<td>
					<h4 id="h4.-bootstrap-heading">
						<%= link_to unit.name, admin_category_unit_path(category, unit) %>
						<a class="anchorjs-link" href="#h4.-bootstrap-heading"><span class="anchorjs-icon"></span></a>
					</h4>
				</td>
				<td>
					<%= link_to "#", remote: true,
						data: {
							toggle: "modal",
							url: edit_admin_category_unit_path(category, unit),
							target: "#modal-edit-unit"
						}, id: "edit-unit" do %>
						Sửa
					<% end %>| 
					<%= link_to admin_category_unit_path(category, unit), method: :delete, remote: true, data: {confirm: "Xóa?"} do %>
						Xóa
					<% end %>
				</td>
			</tr>
		<% end %>
	<% end %>
</tbody>

