<% provide :title, "Khóa học" %>

<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><%= link_to "Trang chủ", root_path %></li>
			<li><%= @course.unit.category.name %></li>
			<li><%= link_to @course.unit.name, unit_path(@course.unit) %></li>
			<li class="active"><%= @course.name %></li>
		</ol>
	</div>
</div>

<div class="products">
	<div class="container">
		<div class="col-md-4 products-left">
			<div class="categories">
				<h2>Danh sách bài học</h2>
				<ul class="cate">
					<% @course.chapters.each do |chapter| %>
						<li>
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
							<%= chapter.name %>
						</li>
						<ul>
							<% chapter.lessons.each do |lesson| %>
								<li>
									<%= link_to course_lesson_path(@course, lesson) do %>
										<i class="fa fa-arrow-right" aria-hidden="true"></i>
										<%= lesson.name %></a>
									<% end %>
								</li>
							<% end %>
						</ul>
					<% end %>
					<% @course.exam_structures.each do |exam_structure| %>
						<li>
							<%= link_to course_exam_structure_path(@course, exam_structure) do %>
								<i class="fa fa-arrow-right" aria-hidden="true"></i>
								<%= exam_structure.name %></a>
							<% end %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>

		<div class="col-md-8 products-right show-list-courses">
		</div>
		<div class="clearfix"> </div>
	</div>
</div>