<% provide :title, "Các khóa học" %>

<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><%= link_to "Trang chủ", root_path %></li>
			<li><%= @unit.category.name %></li>
			<li class="active"><%= @unit.name %></li>
		</ol>
	</div>
</div>

<div class="products">
	<div class="container">
		<div class="col-md-4 products-left">
			<div class="categories">
				<h2>Các khóa học mới nhất</h2>
				<ul class="cate">
					<% @new_courses.each do |new_course| %>
						<li><a href="#"><i class="fa fa-arrow-right" aria-hidden="	true"></i><%= new_course.name %></a></li>
					<% end %>
				</ul>
			</div>
		</div>

		<div class="col-md-8 products-right show-list-courses">
			<%= render "units/show_list_courses" %>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>

<div id="modal-register-course" class="modal fade" role="dialog"></div>
