<% @course.chapters.each_with_index do |chapter, index| %>
  <tr data-expanded="true">
    <td><%= index+1 %></td>
    <td>
    	<%= link_to chapter.name, admin_chapter_path(chapter) %>  
  	</td>
    <td><%= chapter.lessons.count %></td>
    <td><%= chapter.questions.count %></td>
    <td>
			<%= link_to "#", remote: true,
        data: {
          toggle: "modal",
          url: edit_admin_chapter_path(chapter),
          target: "#modal-edit-chapter",
          course_id: @course.id
        }, id: "edit-chapter" do %>
        Sửa
      <% end %>| 
      <%= link_to admin_chapter_path(chapter), method: :delete, remote: true, data: {confirm: "Xóa?"} do %>
        Xóa
      <% end %>
    </td>
  </tr>
<% end %>