<div class="agileits_header">
  <div class="container">
    <div class="w3l_offers">
    </div>
    <div class="agile-login last">
      <ul>
        <% if user_signed_in? %>
          <% if current_user.avatar? %>
            <%= image_tag current_user.avatar.url, class: "avatar" %>
          <% else %>
            <%= image_tag "avatar-default.png", class: "avatar" %>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="multi-gd-img">
                  <ul class="multi-column-dropdown">
                    <li><%= link_to "Tài khoản", "#" %></li>
                    <li><%= link_to "Sửa thông tin", edit_user_registration_path %></li>
                  </ul>
                </div>  
              </div>
            </ul>
          </li>\
          <li><%= link_to "Đăng xuất", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Đăng ký", new_user_registration_path %></li>
          <li><%= link_to "Đăng nhập", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

<div class="logo_products">
  <div class="container">
  <div class="w3ls_logo_products_left1">
    <ul class="phone_email">
      <li><i class="fa fa-phone" aria-hidden="true"></i>Hotline : (+0123) 234 567</li>
    </ul>
  </div>
  <div class="w3ls_logo_products_left">
    <h1><%= link_to "eLearning", root_path %></h1>
  </div>
  <div class="w3l_search">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :name_cont %>
      <button type="submit" class="btn btn-default search" aria-label="Left Align">
        <i class="fa fa-search" aria-hidden="true"> </i>
      </button>
    <% end %>
  </div>
  <div class="clearfix"> </div>
  </div>
</div>

<div class="navigation-agileits">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> 
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Trang chủ", root_path %></li>
          <% @categories.each do |category| %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= category.name %><b class="caret"></b></a>
              <ul class="dropdown-menu multi-column columns-3">
                <div class="row">
                  <div class="multi-gd-img">
                    <ul class="multi-column-dropdown">
                      <% category.units.each do |unit| %>
                        <li><%= link_to unit.name, unit_path(unit) %></li><hr>
                      <% end %>
                    </ul>
                  </div>  
                </div>
              </ul>
            </li>
          <% end %>
          <li><a href="/">Giới thiệu</a></li>
          <li><a href="/">Liên hệ</a></li>
        </ul>
      </div>
      </nav>
  </div>
</div>