<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div class="">
      <div class="flash-errors">
        <% flash.each do |message_type, message| %>
          <div class="autohide alert alert-<%= message_type.gsub('alert', 'warning') %>
            text-center">
            <%= message.try(:html_safe) %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
    
  </body>
</html>
